@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap");

h1 {
  color: var(--primary-blue);
  font-size: 2.5rem;
  line-height: 1;
  margin: 0;
}

h2 {
  font-size: 2rem;
  line-height: 1;
  margin: 0;
}

h3 {
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1;
  margin: 0;
}

p {
  font-size: 1rem;
  line-height: 1.2;
  margin: 0;
}

p + p {
  margin-top: 0.5rem;
}
