:root {
  --primary-blue: #154c79;
  --secondary-light-blue: #76b5c5;
  --accent-orange: #e28743;
  --white: #eeeee4;
  --dark: #282828;
  --transparent-dark: rgba(0, 0, 0, 0.3);

  --border-radius: 10px;
}
