.input {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  position: relative;
  width: 100%;
}

.input__label {
  font-size: 1rem;
  left: 0.5rem;
  line-height: 1;
  position: absolute;
}

.input__input {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  line-height: 1;
  padding: 0.5rem;
}

.input__group {
  border: 1px solid var(--dark);
  border-radius: var(--border-radius);
  width: 100%;
}

.input__icon {
  padding: 0 0.5rem;
}
