.card {
  align-items: stretch;
  display: flex;
  list-style: none;
}

.card__link {
  background-color: var(--white);
  box-shadow: 1px 2px 8px var(--transparent-dark);
  border-radius: var(--border-radius);
  color: var(--dark);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
  width: 100%;
}

.card__link:hover,
.card__link:active,
.card__link:focus {
  transform: scale(1.05);
}

.card__header {
  align-items: flex-start;
  display: flex;
  gap: 0.75rem;
}

.card__flag {
  border-radius: 100%;
  width: 3rem;
}

.card__categories {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}

.card__category {
  background-color: var(--primary-blue);
  border-radius: var(--border-radius);
  color: var(--white);
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.5rem;
  text-transform: capitalize;
}
